script(type='text/javascript', src='/javascripts/jquery.js')
script(type='text/javascript', src='/javascripts/jquery.jstree.js')
script(type='text/javascript', src='/javascripts/assettree.js')
h1= title
p Welcome to #{title}
p Testing the Jade

#tree
  ul.ltr
    li.open
      a(href="#") Node1
      ul
        li.close
          a(href="#) Node1.1
        li.close
          a(href="#) Node1.2
        li.close
          a(href="#) Node1.3
    li.close
      a(href="#) Node2


script
  createTreeView("#tree");